.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //gap: 30px;
  //padding: 30px;
  height: 100%;
}

.mobile-menu-header {
  align-self: flex-start;
  padding-left: 5%;
}
.mobile-menu-avatar {
  align-self: flex-end;
  padding-right: 5%;
}

.mobile-menu-nav ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  &:hover {
      color: #6C5CCF;
  }
}

.mobile-menu-avatar img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
