<div fxLayout="row" fxLayoutAlign="space-between center">
  <button class="btn" routerLink="create">Cree un article</button>
  <button class="sort-btn" mat-button (click)="sortPosts()">
    <span>Trier par </span>
    <mat-icon>{{ arrowIcon }}</mat-icon>
  </button>
</div>

<div class="items">
  <!-- Posts -->
  <div id="loading" *ngIf="isLoading">
    <mat-spinner diameter="80" mode="indeterminate"></mat-spinner>
  </div>
  <mat-card class="item" *ngFor="let post of posts" [routerLink]="['detail', post.id]">
    <mat-card-header>
      <mat-card-title>
        {{ post.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout fxLayoutGap="10%">
        <p>{{ post.createdAt | date : "dd/MM/yyyy" }}</p>
        <p class="card-center">{{ post.author }}</p>
      </div>
      <p>Content: {{ post.content | slice: 0:250 }}
        <span *ngIf="post.content.length > 250">...</span>
      </p>
    </mat-card-content>
  </mat-card>

  <!-- If there are no posts -->
  <div *ngIf="!posts?.length && !isLoading">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <h1>Aucun article correspond à vos abonnements.</h1>
      <button class="btn" routerLink="/themes">S'abonner</button>
    </div>
  </div>

</div>
