@use 'src/styles/variables' as *;

.topics {
    padding: 0 14px;

    @media (min-width: $desktop-breakpoint) {
        padding: 0 34px;
    }
}

.topics-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 6px;
        row-gap: 14px;

    margin-top: 18px;

    @media (min-width: $desktop-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;

        margin-top: 30px;
    }
}
