<div *ngIf="topics.length > 0; else noTopics" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  <div *ngFor="let topic of topics" style="flex: 0 0 calc(50% - 10px); margin-bottom: 20px; padding: 5px; box-sizing: border-box;">
    <div style="background-color: #f8f9fa; padding: 15px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <h2 style="margin-bottom: 10px; font-weight: bold;">{{topic.name}}</h2>
      <p>{{topic.description}}</p>
      <button mat-raised-button color="primary" (click)="subscribe(topic.id)">S'abonner</button>
    </div>
  </div>
</div>

<ng-template #noTopics>
  <p style="text-align: center;">Aucun thème à afficher.</p>
</ng-template>
