.custom-textarea-container {
  display: flex;
  flex-direction: column;
}
.custom-textarea-label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 19.36px;
}
.custom-textarea {
  border: 1px solid #000;
  border-radius: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 14px;
  color: #333;
  outline: none;
  resize: vertical;
  transition: all 0.2s ease-in-out;

  &:focus {
      border-color: #333;
  }
}
