<!--User details-->
<div class="card-container" fxLayoutAlign="center center">
  <mat-card class="card-form">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title><h1>Profil utilisateur</h1></mat-card-title>
    </mat-card-header>
    <form class="form-inputs" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="standard">
          <input matInput type="text" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input matInput type="text" formControlName="username">
        </mat-form-field>
      </mat-card-content>
      <button class="btn" type="submit" [disabled]="form.pristine">Sauvegarder</button>
      <button id="logout" (click)="logout()">Se déconnecter</button>
      <span *ngIf="error" class="error">{{ error }}</span>
    </form>
  </mat-card>
</div>

<div class="mat-divider-container">
  <mat-divider></mat-divider>
</div>

<!--Subscriptions-->
<h1 id="title">Abonnements</h1>
<div class="items">
  <div id="loading" *ngIf="isLoading">
    <mat-spinner diameter="80" mode="indeterminate"></mat-spinner>
  </div>
  <mat-card class="item" *ngFor="let theme of themes">
    <mat-card-header>
      <mat-card-title>{{ theme.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Description: {{ theme.description | slice: 0:250 }}
        <span *ngIf="theme.description.length > 250">...</span></p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn" (click)="unSubscribe(theme.id)">Se désabonner</button>
    </mat-card-actions>
  </mat-card>
</div>
