h1 {
  text-align: center;
  font-weight: bold;
}

#logout {
  color: #b60000;
  background-color: white;
  font-weight: bold;
  display: flex;
  border: none;
  margin: 0 auto;
}

#logout:hover {
  text-decoration: underline;
}

#title {
  padding-top: 15px;
  margin-bottom: 0;
}
