<mat-toolbar class="toolbar" fxLayoutAlign="space-between center">
  <div class="image-wrapper">
    <a [routerLink]="($isLogged() | async) ? '/posts' : '/'">
      <img src="/assets/mdd_logo.png" alt="Logo"/>
    </a>
  </div>

  <button mat-icon-button (click)="onToggleSidenav()" fxHide.gt-xs>
    <mat-icon id="menu" aria-label="Open sidenav">menu</mat-icon>
  </button>

  <div class="navigation-items" *ngIf="$isLogged() | async" fxLayout fxHide.xs>
    <a routerLink="/posts" routerLinkActive="active">Articles</a>
    <a routerLink="/themes" routerLinkActive="active">Thèmes</a>
    <button mat-fab id="user-profile-btn" routerLink="/user" routerLinkActive="active">
      <mat-icon>person_filled</mat-icon>
    </button>
  </div>
</mat-toolbar>
