<mat-card class="topic-preview" fxFlex>
  <mat-card-header>
    <mat-card-title>{{ topic.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p></p>
    <p>&ensp;Description:{{ topic.description }}</p>
    <div *ngIf=topic.subscribed fxLayout="column" class="my2" fxLayoutAlign="center center">
      <button mat-raised-button color="accent" (click)="onClickBtn()">Se désabonner</button>
    </div>
    <div *ngIf=!topic.subscribed fxLayout="column" class="my2" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="onClickBtn()">S'abonner</button>
    </div>
  </mat-card-content>
</mat-card>
