a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.user-profile-btn {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.mat-nav-list {
  padding-top: 6em;
}
