.register {
  mat-card {
    max-width: 600px;
    width: 100%;
  }
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

input {
  border: 1px black solid;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 5px;
}

.top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
