<p>HELLO</p>
<div class="register" fxLayout="row" fxLayoutAlign="center center">
  <h1>Inscription</h1>
  <form [formGroup]="form" class="form-container" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
  </form>
</div>
