.card-container {
  max-width: 1500px;
  margin: 0 auto;

  mat-form-field {
    width: 70%;

    textarea {
      border: black solid 1px;
      border-radius: 8px;
    }
  }
}

.info-container p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.comments-card {
  padding-top: 0;

  mat-card-header {
    padding-bottom: 20px;
  }

  .author {
    min-width: 10%;
    max-width: 10%;
    text-align: end;
  }

  .comment {
    width: 80%;
    max-width: 1000px;
    padding: 1em;
    background-color: #eaeaea;
    border-radius: 15px;
    display: inline-block;
    word-wrap: break-word;
  }
}

.post-card {
  padding-top: 0;
}

mat-card-content {
  gap: 2%;
}

.send-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.send-btn-img {
  transition: transform 0.3s ease;
}

.send-btn[disabled] .send-btn-img {
  cursor: not-allowed;
}

.send-btn:not([disabled]):hover .send-btn-img {
  transform: scale(1.2);
}

@media (max-width: 1500px) {
  .card-title {
    margin-left: 40px;
  }
}

@media (max-width: 600px) {
  .comments-card {
    width: auto;

    .comment {
      width: inherit;
    }
  }

  .card-title {
    margin-left: 60px;
  }

  textarea {
    padding-right: 21% !important;
  }

  mat-form-field {
    width: 95% !important;
  }

  .send-btn {
    right: 8%;
    position: absolute;
  }
}
