<button mat-button (click)="back()" id="back-btn">
  <img src="assets/arrow_back.png" alt="Back Button Image">
</button>

<!--Post detail-->
<div class="card-container">
  <mat-card class="post-card" *ngIf="post">
    <mat-card-header>
      <mat-card-title class="card-title">{{ post.title | titlecase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="info-container" fxLayout="row" fxLayoutGap="5%">
        <p>{{ post.createdAt | date : "dd/MM/yyyy" }}</p>
        <p>{{ post.author }}</p>
        <p>{{ post.theme }}</p>
      </div>
      <p>Content: {{ post.content }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="mat-divider-container">
  <mat-divider></mat-divider>
</div>

<!--Comment section-->
<div class="card-container">
  <mat-card class="comments-card">
    <mat-card-header>
      <mat-card-title>Commentaires</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row" *ngFor="let comment of comments" fxLayout.lt-sm="column">
      <p class="author">{{ comment.author }}</p>
      <p class="comment">{{ comment.content }}</p>
    </mat-card-content>
  </mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-content fxLayoutAlign="center center">
      <mat-form-field appearance="standard">
        <textarea matInput rows="7" placeholder="Ecrivez ici votre commentaire" formControlName="content"></textarea>
      </mat-form-field>
      <button class="send-btn" type="submit" [disabled]="!this.form.controls['content'].value">
        <img src="assets/icon_send.png" alt="Send Button Image" class="send-btn-img">
      </button>
      <span *ngIf="onError" class="error">An error occurred</span>
    </mat-card-content>
  </form>
</div>
