.card-container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1500px;
  margin: 0 auto;

  mat-form-field {
    width: 70%;

    textarea {
      border: black solid 1px;
      border-radius: 8px;
    }
  }
}

.comments-card {

  mat-card-header {
    padding-bottom: 20px;
  }

  .author {
    min-width: 10%;
    max-width: 10%;
    text-align: end;
  }

  .comment {
    width: auto;
    max-width: 1000px;
    padding: 1em;
    background-color: #eaeaea;
    border-radius: 15px;
  }
}

.post-card {
  padding-top: 0;
}

mat-card-content {
  gap: 2%;
}

@media (max-width: 1500px) {
  .card-title {
    margin-left: 40px;
  }
}

@media (max-width: 600px) {
  .card-title {
    margin-left: 60px;
  }
}
