<div class="m3">
  <mat-card>
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="center">
        <h1>Profil Utilisateur</h1>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="user" fxLayout="column" fxLayoutAlign="start center">
        <p>Name: {{ user.login | uppercase }}</p>
        <p>Email: {{ user.email }}</p>
        <p *ngIf="user.admin" class="my2">You are admin</p>
        <div fxLayout="column" class="my2" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="updateProfil()">Sauvegarder</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
