<div class="profile-container" *ngIf="currentUser; else loading">
  <h1>Profil Utilisateur</h1>

  <mat-form-field appearance="fill" class="profile-field">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="currentUser.username">
  </mat-form-field>

  <mat-form-field appearance="fill" class="profile-field">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="currentUser.email" type="email">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="saveChanges()">Sauvegarder</button>

  <div class="separator"></div>

  <div *ngIf="subscribedTopics.length > 0">
    <h1 style="text-align: center; margin-top: 5px;">Abonnements</h1>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">

      <div *ngFor="let topic of subscribedTopics" style="flex: 0 0 calc(50% - 10px); margin-bottom: 20px; padding: 5px; box-sizing: border-box;">

        <div style="background-color: #f8f9fa; padding: 15px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

          <h2 style="margin-bottom: 10px; font-weight: bold;">{{topic.name}}</h2>

          <p>{{topic.description}}</p>

          <button mat-raised-button color="primary" (click)="unsubscribe(topic.id)">Se désabonner</button>

        </div>
      </div>

    </div>
  </div>



</div>

<ng-template #loading>
  <div class="loading-container">
    <p>Chargement des informations de l'utilisateur...</p>
  </div>
</ng-template>

<div *ngIf="!currentUser" class="loading-container">
  <p>Aucun utilisateur n'est connecté actuellement.</p>
</div>
