<!-- <ng-container class="app-layout">
  <mat-sidenav-container class="mobile-sidenav-container">
      <mat-sidenav class="mobile-sidenav" mode="over" position="end" [opened]="getShowMenu()" (closed)="setShowMenu(false)">
          <app-mobile-menu></app-mobile-menu>
      </mat-sidenav>

      <mat-sidenav-content class="mat-sidenav-content-over">
          <app-navbar *ngIf="displayNavBar" [Mode]="isConnected" (parentMethodEvent)="toggleMenu()"></app-navbar>
      </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
 -->
