<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card">
    <a routerLink="/menu"><img src="/assets/Arrow-left.png" alt="Arrow-left" id="arrow-left"></a>
    <mat-card-title id="title">Se connecter</mat-card-title>
      <form class="login-form" [formGroup]="form" (ngSubmit)="login()" method="post">  
        <mat-card-content fxLayout="column">
   
            <div class="input-wrapper">
                <label for="email">E-mail ou nom d'utilisateur</label>
                  <input matInput formControlName="email" id="email" name="email">
                <label for="password"> Password</label> 
                  <input matInput type="text"
                      formControlName="password" id="password" name="password">
            </div>
          </mat-card-content>
          <button mat-raised-button color="primary" type="submit" id="button-submit">Submit</button>
          <p *ngIf="onError" class="error">An error occurred</p>
      </form>
  </mat-card>
</div>