.list {
  margin: 20px;

    .item {
      min-width: 400px;
      background-color: #F5F5F5;
      box-shadow: none;
      border-radius: 9px;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }
}

.mat-card-content {
  margin-bottom: 0;
}
