section{
    // border: 2px solid red;
    display: flex;
    width: 100%;
    height: 100%;
    .user-profil-form{
        // border: 2px solid blue;
        // height: 100%;  
        width: 100%;
        text-align: center;
        // width: 100%;
        h1{
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 30px;
        }
        .user-inputs{        
            // border: 2px solid greenyellow;
          input{
            border-radius: 8px;
            border: 2px solid #7763C5;
            background: #FFF;
            width: 281px;
            height: 48px;
            flex-shrink: 0;
            margin-top: 21px;
            padding-left: 23px;
            font-size: 20px;

          }
          input::placeholder{
            color: #000;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          #sauvegarder-btn{
            width: 139px;
            height: 40px;
            flex-shrink: 0;
            background-color: #7763C5;
            margin-top: 30px;
            color: #FFF;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 8px;
            border: 2px solid #7763C5;
        
          }
          #sauvegarder-btn:hover{
            cursor: pointer;
          }
          #deconnecter-btn{
            border: none;
            background-color: transparent;
            width: 131px;
            height: 19px;
            flex-shrink: 0;
            margin-top: 6px;
            color: #A40F0F;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          #deconnecter-btn:hover{
            cursor: pointer;
          }
        }
        .post-card-table{
            display: flex;
            // grid-template-columns: repeat(2, 2fr);
            color: aqua;
            // border: 2px solid;
            width: 100%;
            // height: 100%;
            // text-align: center;
            // display: flex;
            justify-content: center;
            .card-container{
                display: grid;
                float: left;
                grid-template-columns: repeat(2, 2fr);


            .card{
                border: 2px solid #F5F5F5;
                text-align: center;
                width: 391.791px;
                height: 161px;
                border-radius: 8px;
                background: #F5F5F5;
                margin-left: 8.21px;
                margin-top: 8.21px;

                mat-card-title{
                    color: #000;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                mat-card-content{
                    color: #000;
                    font-family: 'Inter';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                button{
                    border: #7763C5;
                    width: 166.975px;
                    height: 40px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    background-color: #7763C5;

                    color: #FFF;
                    font-family: "Inter";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                button:hover{
                    cursor: pointer;
                }
            }
        }
        }
    }
}