section{
    border: 2px solid;
    height: 100%;
    display: flex;
    .user-profil-form{
        border: 2px solid;
        height: 100%;  
        text-align: center;
        width: 100%;

        .user-inputs{        
          
        }
    }
}