@use "../../../../utils/preprocessed-sass/" as *;

.topics-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));

  &__no-topics {
    text-align: center;
  }

}