<button mat-button (click)="back()" id="back-btn">
  <img src="assets/arrow_back.png" alt="Back Button Image">
</button>

<div class="card-container">
  <mat-card class="card-form">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Créer un nouvel article</mat-card-title>
    </mat-card-header>
    <form class="form-inputs" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="standard">
          <mat-select placeholder="Sélectionner un thème" formControlName="theme">
            <mat-option *ngFor="let theme of themes" [value]="theme.name">
              {{ theme.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input matInput formControlName="title" placeholder="Titre de l'article">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <textarea matInput rows="20" placeholder="Contenu de l'article" formControlName="content"></textarea>
        </mat-form-field>
      </mat-card-content>
    <button class="btn" type="submit" [disabled]="form.invalid || form.get('theme')?.pristine">Créer</button>
      <span *ngIf="onError" class="error">An error occurred</span>
    </form>
  </mat-card>
</div>
