#logout {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-divider {
  padding: 10px; border-top-color: black; width: 95%
}

#logout {
  color: #b60000;
  background-color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
}

#logout:hover {
  text-decoration: underline;
}

