   <header>
   <div class="menu">
        <div id="menu-logo-img">
            <img src="/assets/logo_p6.png" alt="logo"/>
        </div>

        <div class="menu-text">
                    <li> <a [class.active]="isPostLinkActive" (click)="activePostLink()">Articles</a></li>
                    <li><a [class.active]="isSubjectLinkActive" (click)="activeSubjectLink()">Thèmes</a></li>            
        </div>

        <div id="menu-user-img">
            <img src="/assets/user.png" alt="user">
        </div>
    </div>
    <router-outlet>
        <app-post *ngIf="isPostLinkActive"></app-post>
        <button-create-post *ngIf="isPostLinkActive" [class.active]="isPostCreationActive" (click)="activePostCreation()"></button-create-post>
        <create-post *ngIf="isPostCreationActive"></create-post>
        <app-subject *ngIf="isSubjectLinkActive"></app-subject>
    </router-outlet>
    
</header>
