   <header>
   <div class="menu">
        <div id="menu-logo-img">
            <img src="/assets/logo_p6.png" alt="logo"/>
        </div>

        <div class="menu-text">
                <li> <a [routerLink]="['post']" [class.active]="isPostLinkActive" (click)="activePostLink()">Articles</a></li>
                <li><a [routerLink]="['subject']" [class.active]="isSubjectLinkActive" (click)="activeSubjectLink()">Thèmes</a></li>        
        </div>

        <div id="menu-user-img">
            <img src="/assets/user.png" alt="user">
        </div>
    </div>
</header>