   <header>
   <div class="menu">
        <div id="menu-logo-img">
            <img src="/assets/logo_p6.png" alt="logo"/>
        </div>
    
        <div class="menu-text">
                    <li> <a (click)="activePostLink()">Articles</a></li>
                    <li><a (click)="activeSubjectLink()">Thèmes</a></li>            
        </div>

        <div id="menu-user-img">
            <a (click)="activeUserInformation()"><img src="/assets/user.png" alt="user"></a>
        </div>
    </div>
</header>
