@use "../../utils/preprocessed-sass/" as *;


.register {
  position: relative;

  // min-height: 500px;
  --_register-element-padding: 25px;
  padding: var(--_register-element-padding);

  display: flex;
  flex-direction: column;
  align-items: center;

  &__go-back-button {
    position: absolute;
    top: var(--_register-element-padding);
    left: var(--_register-element-padding);

    display: inline-block;
    rotate: 90deg;

    height: 50px;

    @include mobile-only {
      height: 35px;
    }

    &>svg {
      height: inherit;
      ;
    }
  }

  &__title {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
  }

  &__form {
    @include form-style;
  }

  &__fieldset {
    @include fieldset-style;
  }

  &__label {
    @include label-style;
  }

  &__input {
    @include input-style;
  }

  &__submit-button {
    @include button-style;
  }
}