<section class="register">

  <div class="register__image-container">
    <img src="/assets/png/mdd-logo.png" alt="Monde de Dév logo" class="register__image">
  </div>

  <a routerLink="/" class="register__go-back-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <path fill="currentColor"
        d="M169.4 502.6c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 402.7 224 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 370.7L86.6 329.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128z" />
    </svg>
  </a>

  <h1 class="register__title">S'inscrire</h1>

  <form class="register__form">
    <fieldset class="register__fieldset">
      <label class="register__label">
        Nom d'utilisateur
        <input type="text" class="register__input" autocomplete="username" />
      </label>

      <label class="register__label">
        Adresse e-mail
        <input type="email" class="register__input" autocomplete="email" />
      </label>

      <label class="register__label">
        Mot de passe
        <input type="password" autocomplete="current-password" class="register__input" />
      </label>
    </fieldset>


    <button type="submit" class="register__submit-button">S'inscrire</button>
  </form>
</section>