
section{
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 132px;
  border: 2px solid transparent;
  .border-section-container{
    margin-left: 20%;
    width: 70%;
    margin-top: 38px;
  .post-header-bloc{
    display: flex;
    h1{
      width: 728px;
      height: 48px;
      color: #000;
      font-family: 'Inter';
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .post-section-one{
    display: flex;
    // border: 2px solid;
    text-align: center;
    align-items: center;
    align-content: center;
    p{
      width: 200px;
      height: 35px;
      text-align: left;
      color: #000;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  #content{
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom:1px solid #000 ;
    width: 88%;
    text-align: center;
    margin-left: 8px;
    margin-top: 21px;
    flex-shrink: 0;    
  }
 
.post-section-two{
  margin-top: 30px;
  position: relative;
  p{
    width: 25%;
  }
  
  #post-section-two-username{
    text-align: right;
  }
  
  label{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
      margin-bottom: 0;
      position: absolute;

    }

    #post-section-two-content{
      display: inherit;
      float: left;
      margin-left: 20%;
      width: 449px;
      height: 100px;
      border-radius: 16px;
      background: #EEE;
    }
  }
textarea{
  border: 2px solid;
  border-radius: 1em;
  width: 570px;
  height: 120px;
  flex-shrink: 0;
  margin-top: 43px;
  text-align: left;
   
}
textarea::placeholder{
  padding-top: 3%;
  padding-left: 14px;

}
a{
  img{
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    margin-left: 31px;
    margin-bottom: 40px;
  }
  img:hover{
    cursor: pointer;
  }
}
}
}
}
