<div class="app">

  <div *ngIf="(pageUrl$ | async) !== '/'">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <img src="/assets/logo_p6.png" alt="accueil" (click)="logout()" class="home-logo"/>
      <!-- <span>[{{(this.pageUrl$ | async)}}]</span> -->
        <div *ngIf="$isLogged() | async">
            <span routerLink="articles" class="link">Articles</span>
            <span class="bar-spacer"></span>
            <span routerLink="themes" class="link">Thèmes</span>
            <span class="bar-spacer"></span>
            <span routerLink="me" class="link">Account</span>
        </div>
    </mat-toolbar>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>
