<div class="app">

  <div *ngIf="(pageUrl$ | async) !== '/'">
    <mat-toolbar class="topBar" *ngIf="$isLogged() | async">
        <div class="appIcon">
          <mat-icon class="mdd-icon-display" svgIcon="mdd" (click)="logout()">mdd</mat-icon>
        </div>
        <div class="menuBar">
            <span class="menuLink" routerLink="posts" routerLinkActive="active">Articles</span>
            <span class="menuLink" routerLink="themes" routerLinkActive="active" >Thèmes</span>
            <span class="menuLink" routerLink="me" routerLinkActive="active">
              <mat-icon class="avatar-icon-display">account_circle</mat-icon>
            </span>
        </div>
      <div class="menuDiscret">
        <button class="mobileMenu"  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>

  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item>
      <span routerLink="/posts" class="menuLink" routerLinkActive="active">Articles</span>
    </button>
    <button mat-menu-item>
      <span routerLink="/themes" class="menuLink" routerLinkActive="active">Thèmes</span>
    </button>
    <button mat-menu-item>
      <span routerLink="/me" class="menuLink" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
      </span>
    </button>
  </mat-menu>

  <div class="main-page">
    <router-outlet></router-outlet>
  </div>

</div>
