<header class="header">
  <section class="header__logo-container"></section>

  <nav class="header__navigation-bar">
    <ul class="header__links-list">
      <li class="header__list-item">
        <a class="header__link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page">
          (TODO) Articles
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__link" routerLink="/topics" routerLinkActive="active" ariaCurrentWhenActive="page">
          (TODO) Thèmes
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__link" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">
          (TODO) Utilisateur (SVG)
        </a>
      </li>
    </ul>
  </nav>
</header>