@use 'src/styles/variables' as *;

.posts {
    padding: 0 14px;

    @media (min-width: $desktop-breakpoint) {
        padding: 0 34px;
    }
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 6px;

    @media (min-width: $desktop-breakpoint) {
        margin-top: 30px;
        margin-bottom: 25px;
    }
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 45px;
    row-gap: 21px;

    @media (min-width: $desktop-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 14px;
    }
}
