<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <div class="post-creation-containeur" *ngIf="postGroup">
        <form method="post" class="post-creation-form" [formGroup]="postGroup" (ngSubmit)="createPost()">
            <ul>
                <img src="/src/assets/Arrow-left.png" alt="">
                <li><h1>Créer un nouvel article</h1></li>
                <li>
                    <mat-form-field class="mat-form-field">
                        <mat-select placeholder="Sélectionner un thème" class="mat-select" formControlName="idSubject">
                          <mat-option *ngFor="let item of (subjectList$ | async)" [value]="item.idSubject" class="mat-option" >{{ item.title }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                
                <li><input type="text" placeholder="Titre de l'article" formControlName="title"></li>
                <li><input id="content" type="text" placeholder="Contenu de l'article" formControlName="content"></li>
                <li><button type="submit">Créer</button></li>
            </ul>
        </form>
    </div>
</body>
</html>