
<a mat-raised-button color="primary" routerLink="/create-post" style="margin-left: 20px;">Créer un article</a>
<div *ngIf="posts.length > 0; else noPosts" style="display: flex; flex-wrap: wrap; justify-content: space-between;">

  <div *ngFor="let post of posts" style="flex: 0 0 calc(50% - 10px); margin-bottom: 20px; padding: 5px; box-sizing: border-box; cursor:pointer"
  (click)="goToPostDetail(post.id)">

    <div style="background-color: #f8f9fa; padding: 15px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

      <h2 style="margin-bottom: 10px; font-weight: bold;">{{post.title}}</h2>
      <div style="display: flex; align-items: center; gap: 10px; margin-top: 10px;">
        <span><strong>Date: </strong> {{ post.createdAt | date:'yyyy-MM-dd' }}</span>
        <span><strong>Auteur: </strong> <span style="text-transform: capitalize;">{{ post.userId ? getUsername(post.userId) : 'Inconnu' }}</span></span>
      </div>
      <p style="margin-top: 12px;">{{post.content}}</p>
    </div>
  </div>

</div>

<ng-template #noPosts>
  <p style="text-align: center;">Aucun post à afficher.</p>
</ng-template>
