.card {
    max-width: 400px;
    background-color: #F5F5F5;
    width: 391.79px;
    height: 161px;
   mat-card-header{
     mat-card-title{
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
      }
   }
   #description{
    // padding-top: 15px;
    text-align: justify;
    // line-height: 19.36px;
    font-family: 'Inter', sans-serif;
  }

   mat-card-actions{
    display: flex;
    justify-content: center;
      #btn_action{
        margin: 0;
        text-align: center;
        border: 2px solid #7763C5;
        background-color: #7763C5;
        color: #FFFFFF;
        width: 166.97px;
        // height: 40px;
      }
    }
  }
  