/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdd-form {
  margin-top: 1rem;
  height: 45vh;
  width: 100vw;
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .mdd-form-title {
    font-size: 4vh;
  }

  .mdd-error-box {
    color: darkred;
    height: 1.5rem;
  }

  .mat-mdc-form-field-infix {
    padding: 8px !important;
  }

  .mat-mdc-text-field-wrapper {
    max-height: 2.5em;
  }

  .mdd-form-action {
    flex-direction: row;
    justify-content: center;
  }

  .pwd-view-icon {
    display: flex;
    margin-bottom: 1px;
    transform: translateY(-30%);
  }

}




