html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-form-field-infix {
  padding: 0;
  border: 0;
}

.btn {
  color: white;
  background-color: #7763C5;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  padding: 10px 20px;
}

.btn:hover {
  background-color: #9c8ce3;
}

.btn:active {
  background-color: #7763C5;
}

#back-btn {
  z-index: 1;
  top: 2vh;
  left: 2vh;
  font-size: 2em;
}

/* login */
mat-form-field-underline {
  height: 0 !important;
}

mat-sidenav-container {
  height: 100%;
}

.mat-card-content {
  margin: 0 !important;
}

/*
• style
• display
• box-sizing
• margin, padding, width and height -> 1

  ==== 1 ====
• margin
• border
• padding
• width and height
 */
