.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 6vh;

  button {
    width: 150px;
  }
}

.btn {
  color: black;
  background-color: white;
  border: black solid 1px;
}

.center img {
  width: 100%;
  max-width: 600px;
}

@media (max-width: 430px) {
  .button-container {
    flex-direction: column;
    gap: 4vh;
  }
}

