<div class="topic">
  <div class="wrapper">
    <div class="cards-subscriptions">
      <mat-card class="mat-card-subscription" *ngFor="let topic of listTopic;let indexOfTopic=index;">
        <mat-card-header>
          <mat-card-title>{{ topic.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ topic.description | slice:0:255 }}
            <span
              *ngIf="lentListTopics > 255" matTooltip="{{ topic.description | slice:255:lentListTopics }}">
            ...
          </span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="scribeTopic(indexOfTopic, topic)"
            type="submit">
            S'abonner
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

