//Media queries
/*
 * These properties will be available in the future

 @custom-media --mobile-viewport (width <=768px);
 @custom-media --tablet-viewport (768px <=width <=992px);
 @custom-media --laptop-viewport (992px <=width <=1150px);
 @custom-media --desktop-viewport (width <=768px);
*/


@mixin mobile-only {
  @media screen and (width <=768px) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (768px <=width <=992px) {
    @content;
  }
}

@mixin laptop-only {
  @media screen and (992px <=width <=1150px) {
    @content;
  }
}

@mixin desktop-small-only {
  @media screen and (1150px <=width <=1475px) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (width>=1475px) {
    @content;
  }
}

@mixin dark-mode-only {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

//Other
//Flex mixins
@mixin center-flex($gap: 0px) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

//Mixin to center in the middle
@mixin absolute-center {
  translate: -50% -50%;
  inset: 50%;
}


//Mixin to make the image fit
@mixin fit-image {
  object-fit: cover;
  object-position: center;
}

//Mixin to get the text ellipsis effect on a single line
@mixin single-ellipsis-effect {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//Mixin to get the text ellipsis effect after a few lines
@mixin multiline-ellipsis-effect($columns: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $columns;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// * Project styling

@mixin go-back-button-style($padding) {
  position: absolute;
  top: $padding;
  left: $padding;

  display: inline-block;
  rotate: 90deg;

  height: 50px;

  @include mobile-only {
    height: 35px;
  }

  &>svg {
    height: inherit;
    ;
  }
}

@mixin form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  width: 80%;

  margin-top: 15%;
}

@mixin fieldset-style {
  display: inherit;
  flex-direction: inherit;

  width: inherit;

  gap: 15px;
}

@mixin label-style {
  display: inline-flex;
  flex-direction: column;
}

@mixin input-style {
  font-size: 18px;
  padding: 10px;

  border-radius: 5px;

  border: 2px solid currentColor;

  background-color: transparent;

  &:focus-visible {}
}

@mixin button-style {
  margin-bottom: 15px;

  min-width: 120px;

  background-color: var(--bg-secondary);
  color: var(--bg-primary);

  padding: 10px;

  border-radius: 5px;

  font-size: 16px;

  font-weight: bold;

  transition: filter 150ms ease-in-out;

  &:hover {
    filter: brightness(85%);
  }

  &:active {
    filter: brightness(115%);
  }

  &:disabled {
    filter: contrast(50%);
  }
}

@mixin card-style {
  background-color: var(--bg-tertiary);

  display: flex;
  flex-direction: column;

  gap: 10px;

  padding: 10px;

  border-radius: 8px;

  height: inherit;
}

@mixin error-paragraph-style {
  text-align: center;
  color: var(--color-error);
}