section{
    font-family: 'Inter', sans-serif;
    .sort-table{
        position: absolute;
        display: flex;
        width: 120px;
        height: 29px;
        margin-left: 987px;
        top: 129px;
        mat-card-title{
            font-size: 16px;
            font-weight: 700;
            width: 80px;
            height: 100%;
        }
    }
    .post-card{
    float: left;
    max-width: 400px;
    background-color: #F5F5F5;
    width: 359px;
    height: 180px;
    border-radius: 8px;
    margin-top: 21px;
    top: 95px;;
    margin-left: 34px;
    left: 235px;
    align-content: space-between;
    border: 2px solid #F5F5F5;
    }
    #post-card-title{
        font-size: 16px;
        font-weight: 700;
    }
    #post-card-subtitle{
        color: black;
        font-size: 14px;
        font-weight: 400;
        word-wrap: break-word
    }
}
