/* Displayed only on small screen */
@media (min-width: 600px) {
  .login {
    display: none !important;
  }
}

.login {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 250px;
  max-height: 250px;
}
