<mat-toolbar color="primary" class="toolbar" fxHide.xs>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon style="color: black">menu</mat-icon>
    </button>
  </div>

  <div class="image-wrapper">
    <a href="#">
      <img src="/assets/logo_p6.png" alt="Logo"/>
    </a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs *ngIf="$isLogged() | async;">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/articles">Articles</a>
      </li>
      <li>
        <a routerLink="/themes">Thèmes</a>
      </li>
      <button id="user-profile-btn" mat-fab routerLink="/home/me" [color]="'primary'">
        <mat-icon>person_filled</mat-icon>
      </button>
    </ul>
  </div>
</mat-toolbar>
